
<h2>Find a Docotor</h2>
<form novalidate [formGroup]="finddoctor" (ngSubmit)="displaySelectedInfo()">
    <fieldset >
    
        <div class="form-group">
            <table>
     
           <td><label>Specialty</label></td>
            <td><input type="dropbox" class="form-control" formcontrolname="specialty"></td>
       
           <td><label>Location</label></td>
          <td><input type="dropbox" class="form-control" formcontrolname="reason"></td>
       
           <td><label>Insurance</label></td>
           <td><input type="dropbox" class="form-control" formcontrolname="specialty"></td>
        
            <br/>
            </table>
        </div>
        </fieldset>
    <div><input type="submit"></div>




